body {
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
  background-image: url(wallpaper.png);
}

h1 {
  text-align: center;
  font-size: 50px;
}

p {
  margin-top: 32px;
  font-size: 22px;
  max-width: 1000px;
}

a {
  margin: auto;
}

header {
  background-color: #A6B1E1;
  padding: px;
  border-top: 20px solid #424874;
  border-bottom: 20px solid #DCD6F7;
}

.img {
  width: 960px;
  margin: auto;
}

.img2 {
  width: 960px;
  margin: auto;
  height: 0;
}

.corpo {
  margin: auto;
  width: 960px;
}

.conteudo {
  width: 100%;
  display: flex;
}

.texto {
  margin-left: 51.8px;
  line-height: 1.6em;
}

.imagem {
  margin-top: 22px;
}

.preco-botao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preco {
 font-size: 28px;
}

.botao {
  
  width: fit-content;
  padding: 18px 32px;
  font-size: 22px;
  letter-spacing: 1.5px;
  background: #F45800;
  color: #ffffff;
  transition: all .15s;
  border: 2px solid #F45800;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
}

.botao:hover{
  background:  rgb(255, 120, 42);
  border-color:  rgb(255, 120, 42);
}

